Importando csv de uma determinada URL:

In [2]:
import pandas as pd
url = "https://raw.githubusercontent.com/brunojustino888/pyhon-base-project/main/dados_imoveis.csv";
dados = pd.read_csv(url);

Amostra dos 10 primeiros regisros do DF (Data frame):

In [3]:
print(dados.head(10));

                              Rua              Bairro     Cidade  Metragem  \
0           Avenida Itacira, 255    Planalto Paulista  São Paulo      1000
1  Rua Aurelia Perez Alvarez, 42   Jardim dos Estados  São Paulo       496
2                 Rua Alba Valdez     Jardim Reimberg  São Paulo       125
3                             NaN      Jardim Morumbi  São Paulo       310
4        Rua Tobias Barreto, 195                Mooca  São Paulo       100
5                 Rua Graham Bell         Santo Amaro  São Paulo       440
6        Rua Francisco Paulo, 31    Cidade Mãe do Céu  São Paulo       145
7     Rua Guilherme Valente, 150     Jardim Vergueiro  São Paulo       150
8         Rua Sagrada Família, 8       Jardim Benfica  São Paulo        48
9                      Rua Tapaji         Vila Alpina  São Paulo       114

   Quartos  Banheiros  Vagas         Valor
0        4          8      6  R$ 7.000.000
1        4          4      4  R$ 3.700.000
2        4          3      2    R$ 380.000
3        3          2      4    R$ 685.000
4        3          2      2    R$ 540.000
5        4          4      6  R$ 1.980.000
6        4          4      2    R$ 850.000
7        2          2      2    R$ 450.000
8        2          1      1    R$ 199.900
9        3          3      2    R$ 585.000

In [4]:
print(dados.sample(10));

                                           Rua             Bairro     Cidade  \
7506           Rua Comandante Ismael Guilherme   Jardim Luzitânia  São Paulo
6957      Rua Doutor José Maria Whitaker, 176          Vila Sônia  São Paulo
1813                                Rua Traipu           Pacaembu  São Paulo
3740                                       NaN           Vila Ida  São Paulo
3869                           Rua Irmãos Pila        Vila Mazzei  São Paulo
5008                                       NaN    Vila Progredior  São Paulo
9214                          Rua Pirajuia, 0             Jaguaré  São Paulo
4106                              Rua Realengo      Vila Madalena  São Paulo
3932                                       NaN  Alto de Pinheiros  São Paulo
511   Rua Francisco Gomes da Silva Prado, 125     Bosque da Saúde  São Paulo

      Metragem  Quartos  Banheiros  Vagas  \
7506       600        3          6      4
6957       535        3          6      4
1813       285        4          2      2
3740       450        5          6      4
3869       200        3          3      2
5008       260        3          3      3
9214       230        4          4      4
4106       113        3          3      2
3932       556        4          3      4
511        257        4          1      4

                                        Valor
7506                            R$ 12.000.000
6957                             R$ 2.980.000
1813                             R$ 2.200.000
3740                             R$ 6.400.000
3869                               R$ 745.000
5008                             R$ 1.500.000
9214                               R$ 700.000
4106                             R$ 1.050.000
3932  R$ 75.000\r\n                      /Mês
511                              R$ 1.100.000

Amostra das informacoes do DF (Data Frame):

In [ ]:
print(dados.info());

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10008 entries, 0 to 10007
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rua        6574 non-null   object
 1   Bairro     9996 non-null   object
 2   Cidade     10008 non-null  object
 3   Metragem   10008 non-null  int64
 4   Quartos    10008 non-null  int64
 5   Banheiros  10008 non-null  int64
 6   Vagas      10008 non-null  int64
 7   Valor      10008 non-null  object
dtypes: int64(4), object(4)
memory usage: 625.6+ KB
None

Obtem o bairro do imovel 6522 do DF (Data Frame).

In [5]:
print(dados["Bairro"][6522]);

Vila Paulo Silas

In [7]:
print(dados.Bairro[6522]);

Vila Paulo Silas

Obtem a media da metragem dos imoveis do DF (Data Frame).

In [8]:
print(dados.Metragem.mean());

442.30065947242207